extends layout

block content
  h1= title
  p Welcome to #{title}
  p This project intends to provide ease of comparison of different IR runs by displaying TREC_eval data in a visualisation tool. (TBA)
