<!DOCTYPE html>

<meta charset="utf-8">
<style>
.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

</style>

<form>
    <label><input type="radio" name="mode" value="groupAll" id="all" checked > All</label>
    <label><input type="radio" name="mode" value="groupPrecision" id="precision"> Precision</label> 
<!--    <label><input type="radio" name="mode" value="groupIPrecision" id="iprecision"> IPrecision</label> -->
</form>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

if(document.getElementById("all").checked) 
{
	check = ["map","gm_map","Rprec","bpref","recip_rank","P_5"];
	draw(check);
}
function compare(a,b)
{
    console	
    if (a.measure < b.measure)
	return -1;
    if (a.measure > b.measure)
    	return 1;
    return 0;
}
function draw(check){
d3.json("records/runlist",function(json){
  
	var test = d3.entries(json);
  /*var testing;
  $.each(json, function(){
      if (this.run == document.title) {
        console.log(this);
        testing = this;
      }
  });*/
  console.log(test[0].value.run); //will replace with "j" and "k" when run id get is working
  console.log(test[2].value.run);
	var measurecomb = [];
	for (var i in test[0].value.results)
	{
	        if(check.indexOf(test[0].value.results[i].measure)!=-1)
		{
			var item= {};
			item.measure = test[0].value.results[i].measure+"_sys1";
			item.value =  test[0].value.results[i].value;	
			measurecomb.push(item);
		}
	}
	for (var i in test[2].value.results)
	{
	        if(check.indexOf(test[2].value.results[i].measure)!=-1)
		{
			var item= {};
			item.measure = test[2].value.results[i].measure+"_sys2";
			item.value =  test[2].value.results[i].value;	
			measurecomb.push(item);
		}
	}

measurecomb.sort(compare);
console.log(measurecomb);

var w = 1000;
var h = 350;
var barPadding = 5;
var padding = 20;

var yscale = d3.scale.linear()
                     .domain([0, d3.max(measurecomb, function(d,i) {return d.value })])
		     .range([h-padding,padding]);

var xscale = d3.scale.ordinal()
    .range([0,w]);


//Create SVG element
var svg = d3.select("body")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

svg.selectAll(".bar")
   .data(measurecomb)
   .enter()
   .append("rect")
   .attr("class","bar")
   .attr("x",function(d,i){
	return ((padding*2)+i*((w-padding*2)/measurecomb.length));})
       .attr("y", function(d,i){
	return (yscale(d.value));})
   .attr("width", w/measurecomb.length - barPadding*5)
   .attr("height", function(d) {return h-yscale(d.value) -padding;})
   .attr("fill",function(d){
	var barcolor;
	if(d.measure.indexOf("sys1")!=-1){
		 barcolor = "rgb(0,200,100)";}
	else if(d.measure.indexOf("sys2")!=-1){
		 barcolor = "rgb(0,0,100)";}
	return barcolor; });

svg.selectAll("text")
   .data(measurecomb)
   .enter()
   .append("text")
        
   .text(function(d) {
        return d.measure;
   }) 
  .attr("text-anchor", "middle")
  .attr("x", function(d, i) {
        return padding*2+ i*((w -padding*2)/ measurecomb.length) +((w -padding*2)/ measurecomb.length - barPadding*5)/2;
   })
   .attr("y", function(d) {
        return h-barPadding ;
   })
   .attr("font-family", "sans-serif")
   .attr("font-size", "12px")
   .attr("fill", "black");

var yAxis = d3.svg.axis()
        .scale(yscale)
        .orient("left")
	.ticks(10)
svg.append("g")
    .attr("class","axis")
    .attr("transform", "translate(30,0)")
    .call(yAxis);

var xAxis = d3.svg.axis()
        .scale(xscale)
        .orient("bottom")
svg.append("g")
    .attr("class","axis")
    .attr("transform", "translate(20,330)")
    .call(xAxis);

d3.selectAll("input").on("change", change);

function change() {
  if (this.value === "groupAll") transitionAll();
  else if(this.value == "groupPrecision") transitionPrecision();
  else if(this.value == "groupIPrecision") transitionIPrecision();
}
});
}

//Functions for changing display/SVG's

function transitionAll() {
//Removing old SCG element
d3.select("svg").remove();
check = ["map","gm_map","Rprec","bpref","P_5"];
draw(check);
}

function transitionPrecision() {
//Removing old SCG element
d3.select("svg").remove();
precise = ["P_5","P_10","P_20","P_100","P_500","P_1000"];
draw(precise);
}

function transitionIPrecision() {
//Removing old SCG element
d3.select("svg").remove();
precise = ["iprec_at_recall_0.00","iprec_at_recall_0.10","iprec_at_recall_0.50","iprec_at_recall_1.00"]
draw(precise);
}

</script>
