doctype html
//extends layout
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include combination.html
    
  body

    #footer
          p Navigate: 
            a(href= '/upload') Upload New
            | 
            a(href= '/records') Previous Runs
            | 
            a(href= '/logout') Sign Out
            | 
            a(href= '/about') About

    block content
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="http://d3js.org/d3.v3.min.js")
        //script(src="/javascripts/graph.js")