<!DOCTYPE html>

<meta charset="utf-8">
<style>
.bar:hover {
  fill: #4CB4E0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

form {
  position: absolute;
  right: 10px;
  top: 45px;
}

</style>

<form>
    <label><input type="radio" name="mode" value="groupAll" id="all" checked > All</label>
    <label><input type="radio" name="mode" value="groupPrecision" id="precision"> Precision</label>
    <label><input type="radio" name="mode" value="groupIPrecision" id="iprecision"> IPrecision</label>
</form>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

if(document.getElementById("all").checked) 
{
	check = ["map","gm_map","Rprec","bpref","recip_rank","P_5"];
	draw(check);
}
function draw(check){
d3.json('records/runlist',function(json){
	var test = d3.entries(json);
  var testing;
  $.each(json, function(){ //selects the correct json based on the title of the page (drawn from the line of table the link was followed from)
      if (this.run == document.title) {
        console.log(this);
        testing = this;
      }
  });
	var measurename = [];
	var measurevalue = [];
  console.log(testing.run); //temp

	for (var i in testing.results)
	{
	        if(check.indexOf(testing.results[i].measure)!=-1)
		{
			measurename.push(testing.results[i].measure);
			measurevalue.push(testing.results[i].value);
		}
	}
console.log(measurename);
console.log(measurevalue);


var w = 600;
var h = 350;
var barPadding = 5;
var padding = 20;

var yscale = d3.scale.linear()
                     .domain([0, d3.max(measurevalue, function(d) { return d; })])
		     .range([h-padding,padding]);

var xscale = d3.scale.ordinal()
    .range([0,w]);


//Create SVG element
var svg = d3.select("body")
            .append("svg")
            .attr("width", w)
            .attr("height", h);

svg.selectAll(".bar")
   .data(measurevalue)
   .enter()
   .append("rect")
   .attr("class","bar")
   .attr("x",function(d,i){
	return ((padding*2)+i*((w-padding*2)/measurevalue.length));})
       .attr("y", function(d){
	console.log("test "+h+" "+d+" "+(h-yscale(d)));
	return (yscale(d));})
   .attr("width", w/measurevalue.length - barPadding*5)
   .attr("height", function(d) {return h-yscale(d) -padding;})
   .attr("fill",function(d){return "rgb(0,0,"+Math.round(h-yscale(d))+")";});

svg.selectAll("text")
   .data(measurename)
   .enter()
   .append("text")
        
   .text(function(d) {
        return d;
   }) 
  .attr("text-anchor", "middle")
  .attr("x", function(d, i) {
        return padding*2+ i*((w -padding*2)/ measurename.length) +((w -padding*2)/ measurename.length - barPadding*5)/2;
   })
   .attr("y", function(d) {
        return h-barPadding ;
   })
   .attr("font-family", "sans-serif")
   .attr("font-size", "12px")
   .attr("fill", "black");

var yAxis = d3.svg.axis()
        .scale(yscale)
        .orient("left")
	.ticks(10)
svg.append("g")
    .attr("class","axis")
    .attr("transform", "translate(30,0)")
    .call(yAxis);

var xAxis = d3.svg.axis()
        .scale(xscale)
        .orient("bottom")
svg.append("g")
    .attr("class","axis")
    .attr("transform", "translate(20,330)")
    .call(xAxis);

d3.selectAll("input").on("change", change);

function change() {
  if (this.value === "groupAll") transitionAll();
  else if(this.value == "groupPrecision") transitionPrecision();
  else if(this.value == "groupIPrecision") transitionIPrecision();
}
});
}

//Functions for changing display/SVG's

function transitionAll() {
//Removing old SCG element
d3.select("svg").remove();
check = ["map","gm_map","Rprec","bpref","recip_rank","P_5"];
draw(check);
}

function transitionPrecision() {
//Removing old SCG element
d3.select("svg").remove();
precise = ["P_5","P_10","P_15","P_20","P_30","P_100","P_200","P_500","P_1000"];
draw(precise);
}

function transitionIPrecision() {
//Removing old SVG element
d3.select("svg").remove();
precise = ["iprec_at_recall_0.00","iprec_at_recall_0.10","iprec_at_recall_0.50","iprec_at_recall_1.00"]
draw(precise);
}

/* SECTION: get list of run names to populate drop-down menu */
var selectContent = '';

$.getJSON('/records/runlist', function(data) {
  selectContent +='<option value="default"> Add a run to view</option>';
  $.each(data, function() {
    selectContent += '<option value="'+this.run+'">'+this.run+'</option>';
  });
  selectContent += '</select>';
  $('#chooseRun').html(selectContent);
});

//d3.select('selectButton').on('submit', console.log('testing')); //something like this instead of sending the form?

</script>
