doctype html
//extends layout
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include functionjson.html
    
  body

    #header
          p &nbspIR Evaluation Tool
    #footer
          p &nbspNavigate: 
            a(href= '/upload') Upload New
            | 
            a(href= '/records') Previous Runs
            | 
            a(href= '/logout') Sign Out
            | 
            a(href= '/about') About

    //form#formAddRun(name="addrun",method="post",action="/graph")
    //      input#inputRunName(type="text",name="newrun",placeholder="Run name")
    //      button#btnSubmit(type="submit") Add Run

    block content
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="http://d3js.org/d3.v3.min.js")
        //script(src="/javascripts/graph.js")