doctype html
//doesn't extend layout because some of the page elements needed to be changed to not interfere with each other
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include functionjson.html
    
  body

    #header
          p &nbspIR Evaluation Tool
    #footer
          p &nbspNavigate: 
            a(href= '/upload') Upload New
            | 
            a(href= '/records') Previous Runs
            | 
            a(href= '/logout') Sign Out
            | 
            a(href= '/about') About

    //form for adding graphs --DOES NOT WORK YET: IS A PLACEHOLDER--
    form#formAddRun(name="addrun",method="post",action="")
          select#chooseRun
          button#selectButton select

    block content
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="http://d3js.org/d3.v3.min.js")
        //script(src="/javascripts/graph.js")