extends layout

block content
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="/javascripts/graph.js")
  script(type='text/javascript').
    createGraph() //not working yet

  h1= title

    // Wrapper
    #wrapper

        //form
        form#formAddRun(name="addrun", method="post", action="/graph")
              input#inputRunName(type="text", placeholder="(temp) add run", name="run")
              button#btnSubmit(type="submit") submit

        .chart
          