extends layout

block content
  h1= title
  p Please choose an option below.
  a(href = '/login') Login
  br
  a(href = '/signup') Sign up
  br
  a(href = '/about') About
  br
  br
  p Already logged in?
  a(href='/records') View already uploaded records
  br
  a(href='/upload') Add new run
  br
  a(href='/logout') Sign out