doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
          p &nbspIR Evaluation Tool
    #footer
          p &nbspNavigate: 
            a(href= '/upload') Upload New
            | 
            a(href= '/records') Previous Runs
            | 
            a(href= '/logout') Sign Out
            | 
            a(href= '/about') About


    block content
        