extends layout

block content
  h1= title
  p Please choose file to upload.
  form#formUploadFile(name="upload",method="post",action="/upload",enctype="multipart/form-data")
        input#inputFile(type="file", placeholder="file", name="file")
        button#btnSubmit(type="submit") Upload